
body {
    max-height: 2000vh;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 150%;
    height: auto;
}


body::-webkit-scrollbar {
    display: none;
}

.container {
    background: #1c1c1c;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 125vh;
    flex-direction: column;
}

.Animation-Header{
    padding: 20px;
    font-weight: lighter;
    opacity:0;
    transform:translateY(-80px);
    transition:0.8s all ease-in-out;
}

.Animation-appear{
    display: flex;
    opacity:1;
    transform:translateY(0px);
    justify-content: center;
}

.Animation-Header.glow {
    animation: glowing 1.5s ease-in-out forwards;
}

@keyframes glowing {
    0%,100% {
        text-shadow: 0 0 10px rgba(255,255,255,0.7);
    }
}

.Scores{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


.Game{
    display: flex;
}

.image1{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.button{
    border: none;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    z-index: 9999;
}

.popup-content {
    color: white;
    text-align: center;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}


img.animate {
    animation: shake 2s;
}

@keyframes shake {
    0% { transform: translateY(0); }
    10% { transform: translateY(-10px); }
    20% { transform: translateY(10px); }
    30% { transform: translateY(-10px); }
    40% { transform: translateY(10px); }
    50% { transform: translateY(-10px); }
    60% { transform: translateY(10px); }
    70% { transform: translateY(-10px); }
    80% { transform: translateY(10px); }
    90% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.button1,.button2{
    display: flex;
    justify-content: center;
}

.button1 button,
.button2 button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button1 button:hover,
.button2 button:hover {
    background-color: #0056b3;
}


.Final-Point {
    margin-top: 50px;
}

#finalPoint {
    padding: 4px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.Scores-Human1-Score,
.Scores-Human2-Score {
    display: flex;
    justify-content: center;
}

h3{
    color:#0056b3;
}

h2{
    color:rgb(215, 23, 109)
}

@media screen and (max-width:600px) {

    .image1 img, 
    .image2 img{
        display: flex;
        justify-content: center;
    }

    .image1{
        margin-left: 30px;
    }

    .image2{
        margin-right: 30px;
    }
}